.App {
  text-align: center;
  background-color: #202124; 
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btnApp{
  color: #fff;
  background-color: #000000;
  border-color: #000000;
  margin: 0.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.voirPhoto .row , .loginPage .row{
   --bs-gutter-x: 0rem !important;
}
.home {
  padding-bottom: 7rem;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-color: #e1e2e4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
