.circularColor{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.button{
    border-radius: 15px;
    border: 2px solid white;
    width: 2rem;
    height: 2rem;
    padding: 0 ;
}

.containButton{
    width: 100%;
    height: 2.5rem;
}

.row.containButton{
    margin-left: 0!important;
    margin-right: 0!important;
}

.rangeSlider{
    font-size: 2.5rem !important;
    height: 3.5rem;
    
}

.slider{
    height: 3.2rem !important;
    width: 100% !important;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }

.iro__slider {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.IroWheel, .IroSlider{
    margin: 2rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    cursor: pointer;
}
.IroSliderGradient{
    border: 1px solid rgb(255, 255, 255) !important;
}
.sectionHome{
    margin-bottom: 10%;
}

.homePage{
    min-height: 40rem;
}   

.bi-brightness-high, .bi-brightness-low{
    cursor: pointer;
}
.colorChoice{
    color:white;
    text-align: left;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.activeEdit{
    display: none !important;
}
.bi-check-circle-fill{
    font-size: 1.5rem;
}

.modalInfo .sectionHome{
    margin-bottom: 0 !important;
}
.modalInfo .IroSlider{
    display: none !important;
}
.buttonEditColor{
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    width: 6rem;
    text-align: center;
}
.btnColorDiv .row{
    --bs-gutter-x: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
    
.buttonEditColor {
    color: black !important;
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}

@media only screen and (max-height: 720px){
	/*Small smartphones [325px -> 425px]*/
    .range-slider__tooltip.range-slider__tooltip--auto.range-slider__tooltip--bottom{
        display: none;
    }
}
