.inputLogin{
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff !important;
    border-color: black;
    border-radius: 40px;
    text-align: center;
    color: white !important;
    font-size: 2rem !important;
}

.inputLogin::placeholder{    
    color: white !important;
    font-size: 2rem !important;
}

.loginTitle{
    color: white;
    margin-top: 1rem;
    font-size: 4rem;
    text-align: center;
}

.buttonLogin{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #ffffff;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 15rem;
}

.loginForm{
    margin-top: 3rem;
}