.voirPhoto{
    height: 1000px;
}

.modeItem{
    font-size: 2.5rem;
}
.modeName{
    font-size: 1.5rem;
}
.paramSelect{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.btnSetParam{
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 40px;
    color: white;
    text-align: center;
    font-size: 2rem;

}
.modalTitle{
    font-size: 1.5rem;
}