.voirPhoto{
    height: 1000px;
}

.modeItem{
    font-size: 2.5rem;
}
.modeName{
    font-size: 1.2rem;
    color:white
}
.paramSelect{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.effetDiv{
    padding: 0.5rem;
}
.btnSetParamMode{
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    border-color: black;
    border-radius: 40px;
    color: white;
    text-align: center;
    font-size: 2rem;

}
.modalTitle{
    font-size: 1.5rem;
}
.modal-dialog{
    height: 100vh !important;
  display: flex;
}
.modal-content {
    margin: auto !important;
    height: fit-content !important;
}

.logoBootstrap{
    color:white;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow:none;
    border: 1px solid white;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: black;
    cursor: pointer;
    margin-top: -15px;
}

.invalidName::placeholder{
    color:red;
}

.separator{
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    color : white;
    font-size: 1.5rem;
}
.myOwnEffects{
    color: white;
    padding:1rem;
}