.voirPhoto{
    /* height: 1000px; */
}

.modeItem{
    font-size: 2.5rem;
}
.modeName{
    font-size: 1.2rem;
    color:white;
}
.paramSelect{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.effetDiv{
    padding: 0.5rem;
    cursor: pointer;
}
.btnSetParamMode{
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    border-color: white;
    border-radius: 40px;
    color: white;
    text-align: center;
    font-size: 2rem;

}
.btnModifiy{
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-color: white;
    border-radius: 40px;
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;

}
.modalTitle{
    font-size: 1.5rem;
}
.modal-dialog{
    /* height: 100vh !important;
  display: flex; */
}
.modal-content {
    /* margin: auto !important;
    height: fit-content !important; */
    margin-top: 4rem;
}

.logoBootstrap{
    color:white;
}
.logoSavedModes{
    font-size: 2rem;
}
.deleteMode{
    font-size: 1.5rem;
    color:rgb(191, 11, 11);
    /* position: absolute; */
    top: -0.5rem;
    left: 2rem;
    position:relative

}
.deleteModeDivLogo{
    height: 0.2rem;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow:none;
    border: 1px solid white;
    height: 36px;
    width: 25px;
    border-radius: 3px;
    background: black;
    cursor: pointer;
    margin-top: -15px;
}

.invalidName::placeholder{
    color:red;
}

.separator{
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    color : white;
    font-size: 1.5rem;
}
.myOwnEffects{
    color: white;
    padding:1rem;
}

.savedModeText{
    text-align: center;
}