.settingsTitle{
    color: white;
    font-size: 4rem;
    text-align: center;
    
    margin-top: 1rem;
}

.settings{
    background-color: white;
    border-radius: 40px;
    
    font-size: 2rem;
    margin-top: 0.5rem;
    margin: 0.5rem;
}

.parametre{
    margin-bottom: 3rem;
}

.form-control{
    height: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 750px){
    .settings{
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
}